@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/ProximaNova.eot");
    src: url("../fonts/ProximaNova/ProximaNova.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova/ProximaNova.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova.ttf") format("truetype"),
     url('../fonts/ProximaNova/ProximaNova.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova.ttf") format("truetype"),
     url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
body{
	font-family: "Proxima Nova";
	text-align: center;
	font-size: 18px;
}

/*Heder all*/
.header{
	background: linear-gradient(to top, rgba(28, 36, 65, 0.95),rgba(28, 36, 65, 0.95)), url('../images/heder_background.jpg') 0/cover;
	position: relative;
	color: #ffffff;
	margin-bottom: -300px;
}
/*Header nav*/
.nav_style{
	position: absolute;
	top:0;
	width: 100%;
	z-index: 7;
	padding: 80px 140px 0;
	background: rgba(0,0,0,0);
	border: none;
	
}
.navbar-right{
	margin-right: 0!important;
}
.menu_style ul li{
	font-family: "Proxima Nova";
}
#navbar_collapse_ul ul li a{
	color: #ffffff;
}
#navbar_collapse_ul ul li a:hover,
#navbar_collapse_ul ul li a:focus{
	color: #00a8ff;
}
@media screen and (max-width: 768px) {
	.nav_style{
		padding: 30px 80px 0;
	}
	.navbar-header img{
		float: left;
	}
 	#navbar_collapse_ul{
 		border: none;
 	}
 	#navbar_collapse_ul ul li{
 		display: inline-block;
 	}
 	/*button*/
 	 #button_menu{
 	 	border-radius: 0;
 	 	width: 42px;
  		height: 34px;
 	 	-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
 	 }
 	 .navbar-default .navbar-toggle{
 	 	border-color: #ffffff;
 	 }
 	 #button_menu:hover{
 	 	background: #00a8ff
 	 }
 	 #button_menu:focus{
 	 	background: radial-gradient(#00a8ff, rgba(0,0,0,0));
 	 }
 	 #button_menu span{
 	 	background: #ffffff;
		position: absolute;
		opacity: 1;
		left: 9px;
 	 	-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		margin-top: 0;
 	 }
 	 
	#button_menu span:nth-child(2) {
		top: 10px;
	}
	#button_menu span:nth-child(3) {
		top: 16px;
	}

	#button_menu span:nth-child(4) {
		top: 22px;
		}
	#button_menu.open span:nth-child(2) {
		top: 16px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	#button_menu.open span:nth-child(3) {
	  opacity: 0;
	  left: -60px;
}

#button_menu.open span:nth-child(4) {
  top: 16px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
 }

 #button{
	border: none;
	background: #00a8ff;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 18px;
	border-radius: 0;
	border: 1px solid #00a8ff;	
}
#button:hover{
	
	background: radial-gradient(#00a8ff, rgba(0,0,0,0));
	border: 1px solid #ffffff;
}


/*Header text*/
.header_box_text{
	text-align: center;
	position: relative;
	z-index: 5;
	padding: 430px 0 374px;
}
.header_box_text p{
	font-size: 36px;
	margin-bottom: 0;
}
.header_box_text h2{
	margin: 0;
	font-size: 60px;
	font-family: "ProximaNova-Bold";
}

/*Heder box (3 blocks)*/
.header_box{
	position: relative;
	
	bottom: 0;
	transform: translateY(-85%);
	z-index: 5;
	text-align: center;
}
.header_box_block{
	position: relative;
}
.header_box_block_absol{
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	text-align: left;
}
/*block1*/
.head_block1{
    background: rgba(244, 67, 54, 0.9);
	padding: 40px 0 0 0;
}
.header_box_block_absol h4{
	font-size: 24px;
	font-family: "ProximaNova-Bold";
	margin: 0 0 41px 40px;
}
.head_block1 .table{
	margin-bottom: 0;

}
.head_block1 .table tr>th{
	border-top: 1px solid #ff5f53;	
}
.head_block1 .table tr:first-child>th{
	border-top: none;
}
.head_block1 .table tr th{
	padding: 17px 0;
}
.head_block1 .table tr th:nth-child(2){
	padding-left: 35px; 
}
.head_block1 .table tr th:first-child{
	position: relative;
	padding-left: 40px; 
}
.head_block1 .table tr th:last-child{
	 font-family: "ProximaNova-Bold";
	 text-align: right;
	 padding-right: 38px;
}
.table_icon1:before{
	content: "";
	background: url('../images/sprite_cardio.png') -30px -220px;
	width: 16px;
	height: 26px;
	position: absolute;
	top: 17px;
	left: 44px;
}
.table_icon2:before{
	content: "";
	background: url('../images/sprite_cardio.png') -5px -199px;
	width: 20px;
	height: 20px; 
	position: absolute;
	top: 20px;
	left: 42px;
}
.table_icon3:before{
	content: "";
	background: url('../images/sprite_cardio.png') -37px -195px;
	width: 23px;
	height: 20px; 
	position: absolute;
	top: 19px;
	left: 40px;
}
.head_block2{
	background: rgba(76, 175, 80, 0.9);
	padding: 34px 0 27px 40px;
}
.head_block2 p{
	margin: 0;
}
.head_block2 p:nth-child(2){
	font-size: 24px;
	margin: 117px 0 -2px 0;
}
.head_block2 p:last-child{
	font-family: "ProximaNova-Bold";
	font-size: 36px;
}
/*block3*/
.head_block3{
	background: rgba(0, 168, 255, 0.9);
	padding: 34px 0 27px 40px;
}
.head_block3 p:nth-child(2){
	font-size: 26px;
	font-family: "ProximaNova-Bold";
	margin: 57px 0 34px 0;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
	.header_box_text{
		padding: 230px 0 120px;
	}
	.header_box{
		transform: translateY(0);
	}
}
@media screen and (max-width: 768px) {
	.header_box_text{
		padding: 230px 0 30px;
	}
	.header_box{
		transform: translateY(5%);
	}		
}

/*Service*/
.service{
	background: #ffffff;
	position: relative;
	transform: skewY(-4.7deg);
	position: relative;
	z-index: 4;
	top: -40px;
}

.service h2{
	margin: 213px 0 10px 0;
	font-size: 48px;
	font-family: "ProximaNova-Bold";
	transform: skewY(4.7deg);
}
.service_p{
	margin: 0 0 176px;
	font-size: 24px;
	transform: skewY(4.7deg);
}
.service_box{
	transform: skewY(4.7deg);
	margin-bottom: 200px;
}
.service_block{
	min-height: 319px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	position: relative;	
}
.service_icon{
	position: relative;
}
.service_icon:before{
	content: "";
	position: absolute;
	background: #ffffff url('../images/sprite_cardio.png') -5px -67px;
	width: 50px;
	height: 42px;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 1.5s ease;
}	
div+div	.service_icon:before{
	background: url('../images/sprite_cardio.png') -5px -0px;
	width: 64px;
	height: 62px;
	top: 90px;
}
div+div+div	.service_icon:before{
	background: #ffffff url('../images/sprite_cardio.png') -5px -114px;
	width: 50px;
	height: 50px; 
	top: 94px;
}
.service_block h3{
	position: absolute;
	margin-top: 202px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 24px;
	font-family: "ProximaNova-Bold";
	transition: all 1.5s ease;
}
.service_block p{
	display: none;
	font-size: 17px;
	color: #999999;
	padding: 0 35px;
	margin-top: 138px;
}
.service_block:hover{
	border: 1px solid #00a8ff;
}
.service_block:hover .service_icon:before{
	top: -21px;
	transition: all 1.5s ease;  
}
div+div .service_block:hover .service_icon:before{
	top: -31px;
}
div+div+div .service_block:hover .service_icon:before{
	top: -25px;
}	
.service_block:hover h3{
	margin-top: 81px;
	transition: all 1.5s ease;
}
.service_block:hover p{
	display: block;
	transition: all 1.5s ease;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
	.service h2{
		margin: 380px 0 10px 0;
	}
	.service_box{
		margin-bottom: 70px;
	}
}
@media screen and (max-width: 768px){
	.service h2{
	margin: 450px 0 10px 0;
}
.service_box{
	margin-bottom: 70px;
}
.service_p{
	margin: 0 0 40px;
	}
}

/*Team*/
.team{
	background: #f7f7f7;
	margin-top: -350px;
}
.team h2{
	margin-top: 438px;
	font-size: 48px;
	font-family: "ProximaNova-Bold";
}
.team p{
	color: #bbbbbb;
	font-size: 24px;
	margin: 23px 0 160px 0;
}
.team_box{
	margin-bottom: 160px;
}
.team_block{
	box-shadow: 0 2px 3px rgba(1, 2, 2, 0.07);
}
.team_block_img{
	position: relative;
	border: 1px solid rgba(0,0,0,0);
}
.team_block_img:before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	background: url('../images/team_img_circle1.jpg');
	width: 120px;
	height: 120px;
	border-radius: 50%;
	transform: translate(-50%, 50%);
	z-index: 3;
}
div+div .team_block_img:before{
	background: url('../images/team_img_circle2.jpg');
}
div+div+div .team_block_img:before{
	background: url('../images/team_img_circle3.jpg');
}
.team_block_img:after{
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(48, 59, 100, 0) 100%);
}

.img_hover{
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #00a8ff;
	background: rgba(0, 168, 255, 0.9);
	z-index: 2;
}
.img_hover h4{
	color: #ffffff;
	font-size: 30px;
	font-family: "ProximaNova-Bold";
	margin: 62px 0 17px;
}
.img_hover p{
	opacity: 0.6;
	color: #ffffff;
}
.team_block:hover .img_hover{
	display: block;
}
.img_width{
	display: block;
	width: 100%;
	height: auto;
}
.team_block_text h4{
	margin: 120px 0 15px 0;
	font-family: "ProximaNova-Bold";
	font-size: 24px
}
.team_block_text p{
	color: #bbbbbb;
	margin: 0;
	font-size: 18px;
}
.button{
	margin: 60px 0;
	font-family: "Proxima Nova";
	background: rgba(0,0,0,0);
	width: 165px;
	height: 54px;
}
.team .container button{
	border: 1px solid #00a8ff;
	color: #00a8ff;
}
.team_block:hover button{
	border: 1px solid #00a8ff;
	background-color: #00a8ff;
	color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
	.team h2{
	margin-top: 350px;
	}
	.team_box{
	margin-bottom: 40px;
	}
}
@media screen and (max-width: 768px){
	.team h2{
	margin-top: 350px;
	}
	.team p{
	margin: 15px 0 40px 0;
	}
	.team_box{
	margin-bottom: 40px;
	}
}

/*Pricing*/
.pricing{
	height: 1145px;
	background: url('../images/pricing.jpg') 0/cover;
	color: #ffffff;
}
.pricing h2{	
	font-size: 48px;
	font-family: "ProximaNova-Bold";
	margin: 160px 0 14px;
}
.pricing p{
	font-size: 24px;
	margin: 0 0 156px;
}

/*Pricing blocks*/
.pricing_block{
	background: #bbbbbb;
	color: #ffffff;
	transition: all 1.5s ease;
}
.pricing_block:hover {
	background: #00a8ff;
}

.pricing_block ul{ 
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	margin: 34px 0 0 27px;
	text-align: left;
	line-height: 30px;
	transition: all 1.5s ease;
}
.pricing_block:hover ul{
	display: block;
	transition: all 1.5s ease;
}
.pricing_block_hover{
	padding-top: 34px; 
	transition: all 1.5s ease;
}
.pricing_block:hover .pricing_block_hover{
	position: relative;
	transform: translateX(-100%);
	background: #00a8ff;
	transition: all 1.5s ease;
	text-align: left;
	padding-left: 60px; 
}
.pricing_block_hover h4{
	font-family: "ProximaNova-Bold";	
	font-size: 24px;
	margin-bottom: 8px;
}
.pricing_block_hover p{
	margin: 0;
}
.pricing_block_hover p span{
	font-size: 31px;
}
.pricing_block_hover button{
	border: 1px solid #ffffff;
	color:#ffffff;
}												
@media screen and (max-width: 768px){
	.pricing_block:hover .pricing_block_hover{
		padding-left: 10px;
	}
}

/*Slider*/
.slider{
	background: #00a8ff;
}
.slider_element{
	background: #00a8ff;
}
.slider_element>div{
	padding: 201px 0 182px;
	color: #ffffff;
	font-size: 30px;
	position: relative;
}
.slider_element>div:before{
	content: "";
	position: absolute;
	background: url('../images/sprite_cardio.png') -37px -169px;
	width: 26px;
	height: 21px;
	top: 117px;
	left: 50%;
	transform: translateX(-50%);
}
.slider_element div p:last-child{
	color: #93daff;
}
.owl-theme .owl-dots{
	top: -160px;
	position: relative;
	margin: 0;
}
.owl-theme .owl-dots .owl-dot span{
	width: 8px;
	height: 8px;
	border: 2px solid #ffffff;
	border-radius: 0; 
	background: rgba(0,0,0,0);
	margin: 0 10px;
}
#slider_container button:focus,a:focus {
	outline: none;
}
.owl-theme .owl-dots .owl-dot.active span{
	background: #ffffff;
}
.owl-theme .owl-dots .owl-dot:hover span{
	background: #D3D3D3;
}

/*Footer*/
.footer{
	background: linear-gradient(to top, rgba(28, 36, 65, 0.95),rgba(28, 36, 65, 0.95)), url('../images/heder_background.jpg') 0/cover;
	position: relative;
}
.footer_box{
	margin: 120px 0 155px;
	position: relative;
	z-index: 3;
}
.footer_box>div{
	text-align: left;
}
.footer_box h3{
	color: #ffffff;
	font-size: 30px;
	font-family: "ProximaNova-Bold";
}
.footer_block_left h3{
	margin: 30px  0 19px 
}
.footer_block_left p{
	color: #bbbbbb;
	margin: 0;
}
.footer_block_left button{
	background: #00a8ff;
	border: 1px solid #00a8ff;
	color:#ffffff;
	margin: 53px 0 0;
}
.footer_block_left button:hover{
	color: #bbbbbb;
	background: radial-gradient(#00a8ff, rgba(0,0,0,0));
	border: 1px solid #ffffff;
}

.footer_block_right h3{
	margin: 30px 0 53px;
	position: relative;
}
.footer_block_right h3:before{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #4caf50;
	top: 13px;
	left: 229px;
	animation: dot 3s linear infinite;
}
@keyframes dot{
	0%{box-shadow: 0 0 3px 5px rgba(76, 175, 80, 0.15);}
	25%{box-shadow: none;}
	50%{box-shadow: 0 0 3px 5px rgba(76, 175, 80, 0.15);}
	75%{box-shadow: none;}
	100%{box-shadow: 0 0 3px 5px rgba(76, 175, 80, 0.15);}
} 
.footer_block_right p{
	color: #ffffff;
}
.social{
	position: relative;
	z-index: 3;
	margin: 0 0 80px;	
}
.social div{
	color: #545662;
	font-size: 16px;
	text-align: left;
}
.social div span{
	color: #00a8ff;
}
.social ul{
	text-align: right;
	font-size: 0;
}
.social ul li{
	display: inline-block;
	position: relative;
	margin-left: 40px;
}
.social ul li a{
	padding: 7px;
}
.social ul li a:before{
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	background: url('../images/sprite_cardio.png') -5px -224px;
	width: 14px;
	height: 25px;
}
.social ul li+li a:before{
	background-position: -37px -169px;
	width: 26px;
	height: 21px;
}
.social ul li+li+li a:before{
	background-position: -5px -169px;
	width: 27px;
	height: 25px;
	top:1px;
	left: 8px;
}
@media screen and (max-width: 768px){
	.footer_box{
		margin: 20px 0 50px 10px;
	}
	.social{
		margin-bottom: 30px;
	}
	.social div:first-child{
		margin-bottom: 50px;
		float: none!important;
	}
	.social div:last-child{
		text-align: center;
	}
	.social ul{
		text-align: center;
	}
	.social ul li{
		margin-right: 40px;
	}
}	
